.contener{
    flex-wrap: wrap;
    background-color: rgb(227, 227, 227);
}
.box1{
    width: 650px;
    height: 600px;
    /* background-color: aqua; */
}
.box2{
    width: 650px;
    height: 600px;
    /* background-color: rgb(222, 198, 12); */
}
h2{
    margin-top: 60px;
}
h3{
    margin-top: 40px;
}