.contener{
     height: 200vh;
    flex-wrap: wrap;
    background-color: rgb(227, 227, 227);
}
.box1{
    width: 90vw;
    height: 100vh
    /* background-color: aqua; */
}
.box2{
    width: 80vw;
    height: 200vh
    /* background-color: rgb(222, 198, 12); */
}
h2{
    margin-top: 60px;
}
h3{
    margin-top: 40px;
}
.photo{
    width: 100%;
    height: 76%;
    
}
.photos{
    width: 100%;
    height: 70%;
    
}